$media-small: 960px;
@media (max-width: $media-small) {
    .profile {
        &.content {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 100vh;
        }
    
        &.personaldata {
            background: $bg-profile;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            color: white;
            font-size: 1em;
            padding-bottom: 1rem;
            background-color: #181824;
    
            &__copycode {
                background: transparent;
            }
            &__user {
                padding-top: 0.5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                justify-content: space-between;
                width: 85%;
            }
            &__userdata {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                background-color: #4f4f5f;
                width: 85%;
                padding: 0.4rem;
                border-radius: 0.3rem;
            }
            &__userbalance {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                background-color: #4f4f5f;
                width: 85%;
                padding: 0.4rem;
                border-radius: 0.3rem;
            }
            &__useroptions {
                display: flex;
                flex-direction: column;
                background-color: #4f4f5f;
                width: 85%;
                padding: 0.4rem;
                color: white;
    
                &.u-opt-select {
                    background-color: #392456;
                }
            }
    
            &.balance {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                background-color: transparent;
                padding: 0.5rem;
                border-radius: 0.3rem;
    
                &.btn {
                    padding: 0.5rem;
    
                    &_deposit {
                        background-color: #5ba968;
                    }
    
                    &_withdrawal {
                        background-color: #67666B;
                        }
                }
            }
        }
    
        &.viewinformation {
            gap: 0.5rem;
            color: white;
            font-size: 1em;
            display: flex;
            flex-direction: column;
            background: white;
            color: black;
            border-radius: 0 1rem 1rem 0;
            height: 100%;
    
            &_header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.5rem;
                background-color: #67577e;
                color: white;
            }
        }
    
    }
}

.profile {
    .btn{
        padding: 0.5rem;
        color: white;
        font-weight: normal;
        text-transform: none;
        @extend %buttonhover;
        &_deposit{
            background-color: $color-deposit;
        }
        &_withdrawal{
            background-color: $color-withdrawal;
        }
    }
}


@media (min-width: $media-small) {
.profile {
    &.content {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 80%;
        height: 80vh;
    }

    &.personaldata {
        background: $bg-profile;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        color: white;
        font-size: 1em;
        padding-bottom: 1rem;
        background-color: #111118;

        &__copycode {
            background: transparent;
        }

        &__user {
            padding-top: 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }

        &__userdata {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            background-color: #4f4f5f;
            width: 85%;
            padding: 0.4rem;
            border-radius: 0.3rem;
        }

        &__userbalance {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            background-color: #4f4f5f;
            width: 85%;
            padding: 0.4rem;
            border-radius: 0.3rem;
        }

        &__useroptions {
            display: flex;
            flex-direction: column;
            background-color: #4f4f5f;
            width: 85%;
            padding: 0.4rem;
            color: white;

            &.u-opt-select {
                background-color: #392456;
            }
        }

        &.balance {
            display: grid;
            grid-template-columns: 48% 48%;
            background-color: transparent;
        }
    }

    &.viewinformation {
        gap: 0.5rem;
        color: white;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        background: white;
        color: black;
        border-radius: 0 1rem 1rem 0;
        height: 100%;

        &_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem;
            background-color: #67577e;
            color: white;
        }
    }

}
}