//$body  : ".Babieca"; //nombre de la pagina
//$page : "Babieca";//default-light || default-dark
$body  : ".Goldenbet"; //nombre de la pagina
$page : "Goldenbet";//default-light || default-dark
$bgi-signup: "https://wallpapers.com/images/featured/horse-racing-ghym6kfaky4hep8v.jpg";
@import './components/variables';
@import "./components/mixins";
@import './components/global';
@import './components/placeholder-selectors';
@import './components/functions';
//@import SELECCIONAS EL TIPO DE THEMA DE LOGIN QUE QUIERES AQUI

//Height minimo actual es de 375px

//Notas
//El mixxin del notifier, no es igual al de del modal, el modal cuando se llga al body se desliga de este y toma las clases del padre
//en cambio el notifier , todas la estructura nunca varia mas que para cambiar el color y el icono, por lo que seria al contrario del modal
#{$body}{
 
    @include notifier("top-end",#008939,#d9534f);
    //@extend "EL TIPO DE LOGIN QUE TENDRA QUI SE AGREGA"
    .header{
        //babieca-golden
        @include structureHeader('babieca',6rem,6rem);
        //@include structureHeader('babieca',8.5rem,6.5rem);
        &__menu{
            @include dropdown-menu("normal");
        }
    }
    .btn{
        &.login,&.singup{
            text-transform: uppercase;
            font-weight: 600;
        }
        &.login{
            background: #4a4b53;
        }
        &.singup{
            background: $color-primary;
            box-shadow: 0 0 6px $color-primary, 
            inset 0 -6px 10px $color-primary, inset 0 6px 10px hsla(0,0%,100%,.45), 
            inset 0 0 11px $color-primary;
        }
        //se mandara a otra lugar esta wea
        &.payment{
            background: #423b62;
            &.active{
                background: $color-primary;
            }
        }
        &.deposit{
            background: #37ae3c;
        }
        &.amount{
            background: #fff;
            color: #000;
        }
        &.return{
            width: 3rem;
            background: #d90000;
            position: absolute;
            margin: 1rem;
            background-image: url("#{$arrow-left}");
            background-repeat: no-repeat;
            background-size: #{$g-font-size * 2.25} #{$g-font-size * 2.25};
            background-position: center;
        }
    }
    .modal{
        &.login{
            // esto se tiene que convertir en un mixin , ya que las medidas de la imagen logo pueden variar mucho
            @include login__model_1(10rem);
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
        }
        &.singup{
            @extend %singup__model_1;
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
        }
        &.deposit{
           // @include deposit__model_1(2,130px); //maximo valor es 4
            //@include numberOfPayments(2);
            iframe{
                height: -webkit-fill-available;
                width: 100%;
                border-radius: $borderR-btn;
                margin: 0 auto;
            }
            .deposit{
                &__types{
                    display: grid;
                    height: fit-content;
                    border-radius: 0.25rem;
                    gap: 0.35rem;
                }
                &__type{
                    display: grid;
                    grid-template-columns: auto 1fr 2rem;
                    gap: 0.75rem;
                    background: lighten($bg-modal, 4%);
                    height: 4rem;
                    align-items: center;
                    text-align: inherit;
                    & img{
                        margin: auto 0 auto auto;
                        border-radius: $borderR-btn;
                        width: 100px;
                        height: 30px;
                    }
                    &:hover{
                        background: lighten($bg-modal, 8%);
                    }
                }
                &__arrow{
                    &.right{
                        @include arrowPosition('right',2.25);
                    }
                    &.bottom{
                        @include arrowPosition('bottom',2.25);
                    }
                }
                &__details{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding: 0.5rem 0.75rem;
                    border-radius: 0.25rem;
                    border: 1px solid #5d5e63;
                    align-items: center;
                    gap: 0.25rem 0.5rem;
                }
                //&__check{
                //    width: 1.25rem;
                //    height: 1.25rem;
                //    background: #fff;
                //    border-radius: 100%;
                //    &.active{
                //        background: radial-gradient(circle, rgba(255,255,255,1) 30%, rgb(42, 190, 0) 30%, rgb(42, 190, 0) 60%, rgba(255,255,255,1) 70%);
                //    }
                //}
                &__mounts{
                    display: flex;
                    justify-content: center;
                    gap: 0.35rem;
                }
                &__ipt{
                    display: grid;
                    grid-template-columns: 2rem 1fr 6rem;
                    gap: 0.25rem;
                    align-items: center;
                    justify-items: center;
                    & .ipt{
                        font-size: $g-font-size + 6;
                    }
                }
                &__gateway{
                    display: grid;
                    gap: 0.5rem;
                    justify-content: center
                }
                &__limits{
                    color: #bebebe;
                    font-size: $g-font-size - 2;
                }
                &__info{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 0.25rem 0.5rem;
                    padding: 0.5rem 0.75rem;
                    border-radius: 0.25rem;
                    border: 1px solid #5d5e63;
                }
            }
            .modal{
                &-body {
                    padding: 1rem;
                    align-content: start;
                    width: 100%;
                    overflow: auto;
                    &.iframe{
                        grid-template-rows: 1fr;
                        @media (min-width: $size-web) {
                            min-height: 37rem;
                        }
                        &.small{
                            @media (min-width: $size-web) {
                                min-height: 28rem;
                            }
                            & iframe{
                                width: auto;
                            }
                        }
                    }
                }
                &-dialog{
                    max-width: 500px;
                }
                &-header{
                    background: $color-primary;
                }
                @include modalFullScreen("mobile");
            }
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);

          
        }

    }
}
//.loading{
//   
//}
//@include animatedLoad_3linesOrbit();
// circule
// 3arcos
// orbtiando