//$body  : ".Babieca"; //nombre de la pagina
//$page : "Babieca";//default-light || default-dark
//$body  : ".DemoPlatform" ; //nombre de la pagina
//$page : "DemoPlatform" ;//default-light || default-dark
$body  : ".Coliseosport" !default; //nombre de la pagina
$page : "Coliseosport" !default;//default-light || default-dark
//$body : ".Jetbet24"; //nombre de la pagina
//$page : "Jetbet24"; //default-light || default-dark
$bgi-signup: "https://wallpapers.com/images/featured/horse-racing-ghym6kfaky4hep8v.jpg";
@import './components/variables';
@import "./components/mixins";


@import './components/global';
@import './components/placeholder-selectors';
@import './components/functions';

//@import "./components/modals";
//@import './components/uglobal'; -solo activa cuando uses tu componente no
//@import SELECCIONAS EL TIPO DE THEMA DE LOGIN QUE QUIERES AQUI

//Height minimo actual es de 375px
//Notas
//El mixxin del notifier, no es igual al de del modal, el modal cuando se llga al body se desliga de este y toma las clases del padre
//en cambio el notifier , todas la estructura nunca varia mas que para cambiar el color y el icono, por lo que seria al contrario del modal
#{$body}{   
    @include notifier("top-end",#008939,#d9534f,#ffd245);
    //@extend "EL TIPO DE LOGIN QUE TENDRA QUI SE AGREGA"
    .header{
        //babieca-golden
        //@include structureHeader('babieca',12rem,5rem);
        @include structureHeader('babieca',7.5rem,2.5rem);
        &__menu{
            @include dropdown-menu("normal");
        }
        &__balance{
            display: grid;
            justify-items: end;
        }
        &__bono{
            @include arrowPositionDiv($g-font-size - 2);
        }
        &__userdata{
            display: grid;
            grid-template-columns: 2rem auto;
            gap: 0.5rem;
            & img {
                width: 100%;
                border-radius: $borderR-btn;
            }
        }
        &__userid{
            font-size: $g-font-size - 2;
        }
        &__account{
            @include arrowPositionDiv($g-font-size);
        }

        @media (max-width: $size-web) {
            &__userdata, & .btn.recharge { 
                display: none;
            }
        }
    }
    .btn{
        &.login,&.singup{
            text-transform: uppercase;
            font-weight: 600;
        }
        &.login{
            background: #4a4b53;
        }
        &.signup,&.send{
            @extend %btn__signup_model_1;
        }
        //se mandara a otra lugar esta wea
        &.payment{
            background: #423b62;
            &.active{
                background: $color-primary;
            }
        }
        &.deposit, &.save{
            background: #37ae3c;
        }
        &.amount{
            background: #fff;
            color: #000;
        }
        &.return{
            width: 3rem;
            background: #d90000;
            position: absolute;
            margin: 1rem;
            background-image: url("#{$arrow-left}");
            background-repeat: no-repeat;
            background-size: #{$g-font-size * 2.25} #{$g-font-size * 2.25};
            background-position: center;
        }
        &.recharge{
            font-weight: 700;
            background: #088f08;
            font-size: $g-font-size + 2;
            transform: scale(1);
            animation: pulse 2s infinite;
            @keyframes pulse {
                0% {
                    transform: scale(.95);
                    box-shadow: 0 0 #ffffffe6
                }
            
                70% {
                    transform: scale(1);
                    box-shadow: 0 0 0 10px #fff0
                }
            
                to {
                    transform: scale(.95);
                    box-shadow: 0 0 #fff0
                }
            }
        }
        &.openSignup,&.openForgotPass,&.openLogin{//changeModal - se cambiara por este cuando se globalize
            background: transparent;
            height: $ipt-height - 10px;
            padding: 0;
            width: auto;
            b{
                color: $color-primary;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .icon{
        &--chat{
            @include bgIconCenter($chat,"cover");
            width: 20px;
            height: 20px;
        }
        &--copy{
            @include bgIconCenter($copy,"default");   
            background-color:#C41D7F;
            border-radius: 100%;
            position: relative;
        }
        &--atc{
            @include bgIconCenter(addColorIcon("atc","fff"),"default");   
            background-color:#C41D7F;
            border-radius: 100%;
            position: relative;
        }
    }
    .modal{
        &.login{
            // esto se tiene que convertir en un mixin , ya que las medidas de la imagen logo pueden variar mucho
            @include login__model_1(10rem);
            //@include login__model_1(13rem);
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
        }
        &.recoverPassword{
            @extend %recoverPassword__model_1;
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
        }
        &.profile{
            overflow: hidden;
            & .modal{
                &-body {
                    padding: 1rem;
                    width: 100%;
                    position: relative;
                    // overflow: auto;
                    align-content: start;
                    // overscroll-behavior: none;
                    @media #{$landscape_pc} {
                        grid-template-columns: 0fr 1fr;
                    }
                }
                &-content{
                    max-width: 1000px;
                }
                &-header{
                    grid-template-columns: 2.5rem 1fr 2.5rem;
                    justify-items: center;
                }
                //&-header{
                //    background: $color-primary;
                //}
                @include modalFullScreen("mobile");
            }
            & .profile{
                &__body{
                    display: grid;
                    gap: 0.75rem;
                    width: 100%;
                    height: fit-content;
                }
                &__container{
                    display: grid;
                    gap: 0.5rem;
                    // padding: 0.75rem;
                    // border-radius: $borderR-btn;
                    // border: 1px solid lighten($color-primary, 12%);
                }
                &__bonuses{
                    background: #6b7482;
                    padding: 0.5rem;
                    border-radius: 0.25rem;
                    display: grid;
                    gap: 0.5rem;
                    & div{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                &__top{
                    gap: 0.5rem;
                    display: grid;
                    grid-template-columns: 1fr 2.5rem 2.5rem;
                }
                &__warning{
                    display: grid;
                    grid-template-columns: 1.5rem 1fr;
                    gap: 0.5rem;
                    align-items: center;
                    border: 1px solid #00d2e4;
                    padding: 0.5rem;
                    border-radius: $borderR-btn;
                    & .icon--info{
                        @include bgIconCenter(addColorIcon("info","00d2e4"),$g-font-size * 2); 
                    }
                }
                &__header{
                    display: grid;
                    grid-template-columns: 2.5rem 1fr;
                    gap: 0.5rem;
                    align-items: center;
                }
                &__img{
                    width: 100%;
                    height: 100%;
                    border-radius: $borderR-btn;
                }
                &__view{
                    display: grid;
                    padding: 0.5rem;
                    width: 100%;
                    grid-template-rows: auto 1fr;
                    gap: 1rem;
                    align-items: start;
                    height: 100%;
                    background: #393939;
                    border-radius: 0.25rem;
                    @media #{$mobile_all_sizes} {
                        position: absolute;
                        background: #222222;
                    }
                }
                &__balance{
                    display: flex;
                    align-items: center;
                    background-color: #5c6066;
                    padding: 0.5rem;
                    color: #fff;
                    border-radius: $borderR-btn;
                    height: $ipt-height;
                    &.slc{
                        background-image: url(addColorIcon("arrow_down","fff"));
                    }
                    //b{
                    //    font-size: $g-font-size - 2;
                    //}
                }
                &__transaction{
                    display: flex;
                    gap: 0.5rem;
                }

            }
            & .userdata{
                display: grid;
                gap: 0.5rem;
                &__form{
                    display: grid;
                    gap: 0.5rem;
                    grid-template-columns: 1fr 1fr;
                }
                & .btn{
                    &.save{
                        max-width: 10rem;
                        margin: 1rem auto;
                    }
                }
            }
            & .changePassword{
                display: grid;
                gap: 0.5rem;
                max-width: 300px;
                margin: 0 auto;
                &__ipt{
                    @extend %containerPassword;
                }
            }
            & .movements{
                display: grid;
                gap: 0.5rem;
                grid-template-rows: auto auto auto 1fr;
                &.load{
                    grid-template-rows: auto auto 100%;
                }
                &__consult{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 0.5rem;
                    padding: 0.5rem;
                    border-radius: 0.25rem;
                    border: 1px solid #7a7a7d;
                }
                &__empty{
                    height: fit-content;
                    border: 1px solid #fff;
                    padding: 1rem;
                    text-align: center;
                }
                &__concept{
                    padding-bottom: 0.25rem;
                    border-bottom: 1px solid #fff;
                    word-break: break-all;
                }
                &__totals{
                    text-align: end;
                }
                &__ticket{
                    display: grid;
                    background: #42424c;
                    border: 1px solid #B0B0B0;
                    gap: 0.5rem;
                    border-radius: 0.25rem;
                    padding: 0.5rem;
                   
                }
                &__transaction{
                    display: grid;
                    grid-template-columns: 3rem 1fr;
                    gap: 0.5rem;
                    align-items: center;
                }
                &__data{
                  //  padding: 0.5rem;
                }
                &__result{
                    display: grid;
                    gap: 0.5rem;
                    height: fit-content;
                    max-height: calc(100vh - 19rem);
                    overflow: auto;
                    overscroll-behavior: none;
                    @media #{$landscape_mobile},#{$landscape_pc} {
                        grid-template-columns: 1fr 1fr;
                    }
                }
                &__status{
                    background-color: #7c7c7c;
                    display: flex;
                    height: 3.5rem;
                   // padding: 0.35rem;
                    border-radius: 0.25rem;

                    $icons: 'AP', 'DE', 'CWI','RF','RE','BN','CB';
                    @each $icon in $icons {
                        &.#{$icon} {
                            @include elementIconPosition(addColorIcon(#{$icon},"fff"),85%);
                        }
                    }
                    &.CWI{
                        background-color: #009300;
                    }
                    &.BN{
                        background-color: #879300;
                    }
                    &.AP{
                        background-color: #007793;
                    }
                    &.DE{
                        background-color: #4CAF50;
                    }
                    &.RF{
                        background-color: #8e4caf;
                    }
                    &.RE{
                        background-color: #af4c4c;
                    }
                    &.CB{
                        background-color: #4c57af;
                    }
                }
                &__info{
                    display: grid;
                    grid-template-columns: calc(65% - 0.5rem) calc(35% - 0.5rem);
                    gap: .25rem 1rem;
                    align-items: center;
                    //& *{
                    //    word-wrap: break-word;
                    //    text-overflow: ellipsis;
                    //}
                }
                &__ref{
                    display: grid;
                    grid-template-columns: minmax(5rem, 12rem)2.5rem;
                    align-items: center;
                    gap: 0.5rem;
                    & p{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-wrap: nowrap;
                    }
                    &--text{
                        color: #a6a6a6;
                    }
                    & .btn.copy{
                        @include bgIconCenter($copy,"default");   
                        background-color:#676767;
                        border-radius: 100%;
                    }
                }
            }

            & .btn{
                &.withdrawal{
                    background-color: red;
                    &.locked{
                        @include elementIconPosition(addColorIcon("locked","fff"),"left");
                        padding-left: 0.5rem;
                    } 
                }
                &.logout{
                    text-align: start;
                    @include elementIconPosition(addColorIcon("logout","fff"),"right");
                    background-color: rgba(255, 255, 255, 0.10);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                }
                &.profile{
                    display: flex;
                    align-items: center;
                    text-align: start;
                    gap: 0.5rem;
                    @include elementIconPosition(addColorIcon("arrow_left_xl","fff"),"right");
                    background-color: rgba(255, 255, 255, 0.10);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    &.active{
                        background-image: url(addColorIcon("arrow_down_xl","fff"));
                        background-color: lighten($color-primary, 10%);
                        @media #{$landscape_pc} {
                            pointer-events: none;
                            background-image: none;
                        }
                    }
                    & .icon{
                        $icons: 'user', 'password','movements','bonus';
                        @each $icon in $icons {
                            &--#{$icon} {
                                background-image: url(addColorIcon(#{$icon},"fff"));
                                display: block;
                                width: 30px;
                                height: 30px;
                                background-color: #d4380d;
                                border-radius: 100%;
                                background-size: inherit;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
                &.option{
                    background: #C41D7F;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            } 
          
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
        }
       
        
        &.signup{
            @extend %signup__model_1;
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
        }
        &.deposit{
            @include deposit__model_1();            
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
        }
        &.withdrawal{
            @include withdrawalW__model__1(2);//este es general para x y w
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);  
        }
        &.chatLive{
            @media #{$landscape_pc} {
                &{
                    width: 400px;
                    height: calc(500px + 3rem);
                    right: 0;
                    left: auto;
                    top: auto;
                    bottom: 0;
                    margin: 1rem;
                    border-radius: 0.25rem;
                    background: transparent;
                }
            }
            & .modal {
                //&-dialog {
                //    max-width: 560px;
                //}
                &-body {
                    width: 100%;
                    @media #{$landscape_pc} {
                        min-height: 500px;
                    }
                }
                &-header{
                    background-color: #23a84e;
                    & .btn.close{
                        background-image: url("#{$minimized}");
                        width: 30px;
                        height: 30px;
                    }
                }
                
                @media #{$landscape_pc} {
                    &-dialog.centered{
                        margin: 0;
                    }
                }
        
                @include modalFullScreen("mobile");
            }
            iframe{
                width: 100%;
                border: 0;
                height: calc(100vh - 3rem);
                @media #{$landscape_pc} {
                    height: 500px;
                }
            }
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
        }
        &.promotions{
            & .modal{
                &-body {
                    padding: 1rem;
                    align-content: start;
                    width: 100%;
                    overflow: auto;
                }
                &-content{
                    max-width: 500px;
                }
                &-header{
                    background: $color-primary;
                }
                @include modalFullScreen("mobile");
            }
        }

        &.screenGames{
            @include screenGames__model__1(2rem,6.5rem);//$logo_mb,$logo_pc
            @include animatedLoad_3linesRotate(#000,$color-primary,#d8d8d8,'');
        }
        &.expireSession{
            & .modal{
                &-content{
                    max-width: 500px;
                }
                &-header{
                    & .btn.close{
                        display: none;
                    }
                }
                &-body {
                    padding-bottom: 3rem;
                    justify-items: center;
                    gap: 1rem;
                }
                @include modalFullScreen("mobile");
            }
            & .expireSession{
                &__logo{
                    width: 15rem;
                }
                &__title{
                    font-size: $g-font-size * 1.5;
                }
                &__text{
                    color: #808080;
                }
            }
            & .btn{
                &.continue{
                    background-color: $color-primary;
                }
            }
        }
    }
    .category{
        display: grid;
        grid-auto-columns: 6rem;
        grid-auto-flow: column;
        gap: 0.5rem;
        height: 5.5rem;
        margin: 1rem 0;
        padding: 0 1rem;
        overflow: auto;
        overscroll-behavior: none;
        @media #{$landscape_pc} {
            &{
                grid-auto-columns: 1fr;
                justify-content: center;
            }
        }
        & button{
            background-color: #20252cb3;
            border-radius: $borderR-btn * 2;
        }
        &__game{
            $games: 'home', 'slot', 'slotlive','crash','scratch','virtual','sportbook','sportbooklive','providers','horses';
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 0.35rem;
            & i {
                width: 100%;
                max-width: 3.25rem;
                height: 2rem;
            }
            @each $game in $games {
                & .icon--#{$game} {
                    @include elementIconPosition(addColorIcon(#{$game},'fff'),"center");
                }
            }
            &:hover,&.active{
                filter: none;
                background: linear-gradient(180deg, transparent, transparent, transparent, transparent, transparent, transparent, transparent, $color-primary);
                background-color: rgba($color-primary, 0.20);
                & b{
                    animation: neonText 2s infinite alternate cubic-bezier(.455,.03,.515,.955);
                    @keyframes neonText {
                        0% {
                            text-shadow: 0 0 10px rgba(255,255,255,.5),0 0 20px rgba(255,255,255,.5),0 0 22px rgba(255,255,255,.5),0 0 40px rgba(66,220,219,0),0 0 60px rgba(66,220,219,0),0 0 80px rgba(66,220,219,0),0 0 100px rgba(66,220,219,0),0 0 140px rgba(66,220,219,0),0 0 200px rgba(66,220,220,0)
                        }
                        to {
                            text-shadow: 0 0 2px rgba(255,255,255,.5),0 0 8px rgba(255,255,255,.5),0 0 10px rgba(255,255,255,0),0 0 20px rgba(66,220,220,0),0 0 30px rgba(66,220,220,0),
                        }
                    }
                }
            }
            &.active{
                @each $game in $games {
                    & .icon--#{$game} {
                        @include elementIconPosition(addColorIcon(#{$game},$fill-primary),"center");
                    }
                }
            }
        }
    }
    .dropdown{
        &.idiom{
            *{
                color: black;
            }
            & button img{
                width: 2.5rem;
                border-radius: $borderR-btn;
            }
            & .slc,  & .btn{
                display: flex;
                align-items: center;
                gap: 0.25rem;
            }
        }
    }
    .ipt{
        $icons: 'user', 'email', 'password';
        @each $icon in $icons {
            &.icon--#{$icon} {
                @include elementIconPosition(addColorIcon(#{$icon},"969696"),"left");
            }
        }
    }

    .providerlist{
        &__provider{
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, minmax(0, 300px));
            padding: 1rem;
            margin: 0 auto;
            max-width: max-content;
            @media #{$landscape_mobile}, #{$portrait_tablet} {
                grid-template-columns: repeat(4, minmax(0, 300px));
            }
            @media #{$landscape_pc} {
                gap: 1.5rem;
                padding: 2rem;
                grid-template-columns: repeat(5, minmax(0, 300px));
            }
        }
        &__slide{
            @extend %nobtn;
            border-radius: 0.5rem;
            box-shadow: 0 0 0 rgba($color-primary, 0);
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            &:hover {
                box-shadow: 0 0 2rem rgba($color-primary, .7);
                transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                & img{
                    transform: rotateX(-10deg) rotateY(10deg);
                    transform: scale(1.05);
                    transition: transform 0.3s ease-in-out;
                }
            }
            &:nth-child(5){
                display: none;  
            }
            @media #{$landscape_pc} {
                &:nth-child(5){
                    display: block;  
                }
            }
        }
        &__parallax{
            position: relative;
            display: flex;
            justify-content: center;
        
        }
        //el bpody tiene soom a aprtir de 100. pero pax que comienza desde 1800 0 1920 aunque redudnate ese 200 xddd
        &__playnow{
            position: absolute;
            bottom: 1rem;
            width: auto;
            background-color: $color-primary;
            font-weight: 700;
            padding: 0.5rem;
            border-radius: $borderR-btn;
            text-transform: uppercase;
            @media #{$landscape_pc} {
                bottom: 2rem;
                padding: 0.5rem 1.25rem;
            }
        }
        &__img{
            height: auto;
            max-width: 100%;
            vertical-align: middle;
            transition: transform .3s ease-out;
            border-radius: $borderR-btn * 2;
        }
    }

    //.footer{
    @include footer__model_1(4,3);//mid_columns, bottom_columns
    //}   
     @include checkboxSwitch;
}

