//$body  : ".Babieca"; //nombre de la pagina
//$page : "Babieca";//default-light || default-dark
$body  : "DemoPlatform" !default; //nombre de la pagina
$page : "DemoPlatform" !default;//default-light || default-dark
$bgi-signup: "https://wallpapers.com/images/featured/horse-racing-ghym6kfaky4hep8v.jpg";
@import './components/variables';
@import "./components/mixins";
@import './components/global';
@import './components/placeholder-selectors';
@import './components/functions';
@import './components/modals';
@import './components/menus';
@import './components/profile';
//@import SELECCIONAS EL TIPO DE THEMA DE LOGIN QUE QUIERES AQUI

//Height minimo actual es de 375px
//Notas
//El mixxin del notifier, no es igual al de del modal, el modal cuando se llga al body se desliga de este y toma las clases del padre
//en cambio el notifier , todas la estructura nunca varia mas que para cambiar el color y el icono, por lo que seria al contrario del modal


@include notifier("top-end", #008939, #d9534f, #ffd245);




   

    

