//$body  : ".Babieca"; //nombre de la pagina
//$page : "Babieca";//default-light || default-dark
//$body  : ".DemoPlatform" ; //nombre de la pagina
//$page : "DemoPlatform" ;//default-light || default-dark
$body  : ".Coliseosport" !default; //nombre de la pagina
$page : "Coliseosport" !default;//default-light || default-dark
//$body : ".Jetbet24"; //nombre de la pagina
//$page : "Jetbet24"; //default-light || default-dark
$bgi-signup: "https://wallpapers.com/images/featured/horse-racing-ghym6kfaky4hep8v.jpg";
@import './components/variables';
@import "./components/mixins";


@import './components/global';
@import './components/placeholder-selectors';
@import './components/functions';

//@import "./components/modals";
//@import './components/uglobal'; -solo activa cuando uses tu componente no
//@import SELECCIONAS EL TIPO DE THEMA DE LOGIN QUE QUIERES AQUI

//Height minimo actual es de 375px
//Notas
//El mixxin del notifier, no es igual al de del modal, el modal cuando se llga al body se desliga de este y toma las clases del padre
//en cambio el notifier , todas la estructura nunca varia mas que para cambiar el color y el icono, por lo que seria al contrario del modal
#{$body}{   
    @include notifier("top-end",#008939,#d9534f,#ffd245);
    //@extend "EL TIPO DE LOGIN QUE TENDRA QUI SE AGREGA"
    .header{
        //babieca-golden
        //@include structureHeader('babieca',12rem,5rem);
        @include structureHeader('babieca',6.5rem,6.5rem);
        &__menu{
            @include dropdown-menu("normal");
        }
        &__balance{
            display: grid;
            justify-items: end;
        }
        &__bono{
            @include arrowPositionDiv($g-font-size - 2);
        }
        &__userdata{
            display: grid;
            grid-template-columns: 2rem auto;
            gap: 0.5rem;
            & img {
                width: 100%;
                border-radius: $borderR-btn;
            }
        }
        &__userid{
            font-size: $g-font-size - 2;
        }
        &__account{
            @include arrowPositionDiv($g-font-size);
        }

        @media (max-width: $size-web) {
            &__userdata, & .btn.recharge { 
                display: none;
            }
        }
    }
    .btn{
        &.login,&.singup{
            text-transform: uppercase;
            font-weight: 600;
        }
        &.login{
            background: #4a4b53;
        }
        &.signup,&.withdrawal,&.send{
            @extend %btn__signup_model_1;
        }
        //se mandara a otra lugar esta wea
        &.payment{
            background: #423b62;
            &.active{
                background: $color-primary;
            }
        }
        &.deposit{
            background: #37ae3c;
        }
        &.amount{
            background: #fff;
            color: #000;
        }
        &.return{
            width: 3rem;
            background: #d90000;
            position: absolute;
            margin: 1rem;
            background-image: url("#{$arrow-left}");
            background-repeat: no-repeat;
            background-size: #{$g-font-size * 2.25} #{$g-font-size * 2.25};
            background-position: center;
        }
        &.recharge{
            font-weight: 700;
            background: #088f08;
            font-size: $g-font-size + 2;
            width: 6rem;
        }
        &.openSignup,&.openForgotPass,&.openLogin{
            background: transparent;
            text-decoration: underline;
            height: 30px;
        }
    }
    .icon{
        &--chat{
            @include bgIconCenter($chat,"cover");
            width: 20px;
            height: 20px;
        }
    }
    .modal{
        &.login{
            // esto se tiene que convertir en un mixin , ya que las medidas de la imagen logo pueden variar mucho
            @include login__model_1(10rem);
            //@include login__model_1(13rem);
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
        }
        &.recoverPassword{
            @extend %recoverPassword__model_1;
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
        }
        &.profile{//no se de donde es esto pero no pertenece a las marcas blancas
            width: 70%;
        }
        
        &.signup{
            @extend %signup__model_1;
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
        }
        &.deposit{
            @include deposit__model_1();            
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
            
        }
        &.withdrawal{
            @include withdrawalW__model__1(2);//este es general para x y w
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);  
        }
        &.chatLive{
            @media #{$landscape_pc} {
                &{
                    width: 400px;
                    height: calc(500px + 3rem);
                    right: 0;
                    left: auto;
                    top: auto;
                    bottom: 0;
                    margin: 1rem;
                    border-radius: 0.25rem;
                    background: transparent;
                }
            }
            & .modal {
                //&-dialog {
                //    max-width: 560px;
                //}
                &-body {
                    width: 100%;
                    @media #{$landscape_pc} {
                        min-height: 500px;
                    }
                }
                &-header{
                    background-color: #23a84e;
                    & .btn.close{
                        background-image: url("#{$minimized}");
                        width: 30px;
                        height: 30px;
                    }
                }
                
                @media #{$landscape_pc} {
                    &-dialog.centered{
                        margin: 0;
                    }
                }
        
                @include modalFullScreen("mobile");
            }
            iframe{
                width: 100%;
                border: 0;
                height: calc(100vh - 3rem);
                @media #{$landscape_pc} {
                    height: 500px;
                }
            }
            @include animateLoad_3points(#fff,0.5rem,0.5s,0.2rem);
        }
        &.promotions{
            & .modal{
                &-body {
                    padding: 1rem;
                    align-content: start;
                    width: 100%;
                    overflow: auto;
                }
                &-content{
                    max-width: 500px;
                }
                &-header{
                    background: $color-primary;
                }
                @include modalFullScreen("mobile");
            }
        }
        &.screenGames{
            & .modal {
                &-dialog {
                    margin: 0;
                }
                &-body {
                    position: relative;
                    max-width: 100%;
                    width: 100%;
                    align-content: normal;
                }
                &-header{
                    grid-template-columns: 3rem auto 3rem;
                    justify-items: center;
                    & img{
                        width: 6.5rem;
                    }
                    & .btn.close{
                        background-image: url("#{$arrow-left}");
                        width: 100%;
                        height: 100%;
                    }
                }
                //@include modalFullScreen("mobile");
            }   
            @include animatedLoad_3linesRotate(#000,$color-primary,#d8d8d8,'');
        }
        &.expireSession{
            & .modal{
                &-content{
                    max-width: 500px;
                }
                &-header{
                    & .btn.close{
                        display: none;
                    }
                }
                &-body {
                    padding-bottom: 3rem;
                    justify-items: center;
                    gap: 1rem;
                }
                @include modalFullScreen("mobile");
            }
            & .expireSession{
                &__logo{
                    width: 15rem;
                }
                &__title{
                    font-size: $g-font-size * 1.5;
                }
                &__text{
                    color: #808080;
                }
            }
            & .btn{
                &.continue{
                    background-color: $color-primary;
                }
            }
        }
    }
    .dropdown{
        &.idiom{
            *{
                color: black;
            }
            & button img{
                width: 2.5rem;
                border-radius: $borderR-btn;
            }
            & .slc,  & .btn{
                display: flex;
                align-items: center;
                gap: 0.25rem;
            }
        }
    }
    .ipt{
        $user:addColorIcon("user","969696");
        $email:addColorIcon("email","99696");
        $key:addColorIcon("key","969696");
    
        &.icon--user{
            @include elementIconPosition($user,"left");  
        }
        &.icon--email{
            @include elementIconPosition($email,"left");
        }
        &.icon--password{
            @include elementIconPosition($key,"left");
        }
    }

    //.footer{
    @include footer__model_1(4,1);//mid_columns, bottom_columns
    //}   
}

