//$body  : ".Babieca"; //nombre de la pagina
//$page : "Babieca";//default-light || default-dark
$body  : "DemoPlatform" !default; //nombre de la pagina
$page : "DemoPlatform" !default;//default-light || default-dark
$bgi-signup: "https://wallpapers.com/images/featured/horse-racing-ghym6kfaky4hep8v.jpg";
@import './components/variables';
@import "./components/mixins";
@import './components/global';
@import './components/placeholder-selectors';
@import './components/functions';
//@import SELECCIONAS EL TIPO DE THEMA DE LOGIN QUE QUIERES AQUI

//Height minimo actual es de 375px
//Notas
//El mixxin del notifier, no es igual al de del modal, el modal cuando se llga al body se desliga de este y toma las clases del padre
//en cambio el notifier , todas la estructura nunca varia mas que para cambiar el color y el icono, por lo que seria al contrario del modal


.DemoPlatform {

    @include notifier("top-end", #008939, #d9534f, #ffd245);

    //@extend "EL TIPO DE LOGIN QUE TENDRA QUI SE AGREGA"
    .header {
        //babieca-golden
        @include structureHeader('babieca', 12rem, 5rem);

        //@include structureHeader('babieca',8.5rem,6.5rem);
        &__menu {
            @include dropdown-menu("normal");
        }

        &__balance {
            display: grid;
            justify-items: end;
        }

        &__bono {
            @include arrowPositionDiv($g-font-size - 2);
        }

        &__userdata {
            display: grid;
            grid-template-columns: 2rem auto;
            gap: 0.5rem;

            & img {
                width: 100%;
                border-radius: $borderR-btn;
            }
        }

        &__userid {
            font-size: $g-font-size - 2;
        }

        &__account {
            @include arrowPositionDiv($g-font-size);
        }

        @media (max-width: $size-web) {

            &__userdata,
            & .btn.recharge {
                display: none;
            }
        }
    }

    .btn {

        &.login,
        &.singup {
            text-transform: uppercase;
            font-weight: 600;
            border: none;
            border-radius: 0.3rem;
            background: $color-primary;
            box-shadow: 0 0 6px $color-primary,
            inset 0 -6px 10px $color-primary, inset 0 6px 10px hsla(0, 0%, 100%, .45),
            inset 0 0 11px $color-primary;
        }

        &.login {
            background: #4a4b53;
        }

        //se mandara a otra lugar esta wea
        &.payment {
            background: #423b62;

            &.active {
                background: $color-primary;
            }
        }

        &.deposit {
            background: #37ae3c;
        }

        &.amount {
            background: #fff;
            color: #000;
        }

        &.return {
            width: 3rem;
            background: #423b62;
            position: absolute;
            margin: 1rem;
            background-image: url("#{$arrow-left}");
            background-repeat: no-repeat;
            background-size: #{$g-font-size * 2.25} #{$g-font-size * 2.25};
            background-position: center;
        }

        &.recharge {
            font-weight: 700;
            background: #3c088f;
            font-size: $g-font-size + 2;
            width: 6rem;
        }
        .close{
            background: transparent
        }
    }

    .modal {
        &.login {
            // esto se tiene que convertir en un mixin , ya que las medidas de la imagen logo pueden variar mucho
            @include login__model_1(10rem);
            @include animateLoad_3points(#fff, 0.5rem, 0.5s, 0.2rem);
        }

        &.profile {
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        &.singup {
            @extend %singup__model_1;
            @include animateLoad_3points(#fff, 0.5rem, 0.5s, 0.2rem);
        }

        &.deposit {
            @include deposit__model_1();
            @include animateLoad_3points(#fff, 0.5rem, 0.5s, 0.2rem);
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            
        }

        &.withdrawal {
            & .modal {
                &-body {
                    padding: 1rem;
                    align-content: start;
                    width: 100%;
                    overflow: auto;
                }

                &-dialog {
                    max-width: 500px;
                }

                &-header {
                    background: $color-primary;
                }

                @include modalFullScreen("mobile");
            }

            & .withdrawal {
                &__info {
                    @include structureInfo_1;
                }

                &__amount {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }

    }

    .ipt {
        @extend %input;
    }

    .profile{
        &.content{
            display: grid;
            grid-template-columns: 30% 70%;
            width: 80%;
            height: 80vh;
        }
        &.personaldata{
            background: $bg-profile;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            color: white;
            font-size: 1em;
            padding-bottom: 1rem;
            &__copycode{
                background: transparent;
            }
            &__user {
                padding-top: 0.5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }
            &__userdata {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                background-color: #4f4f5f;
                width: 85%;
                padding: 0.4rem;
                border-radius: 0.3rem;
            }
            &__userbalance {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                background-color: #4f4f5f;
                width: 85%;
                padding: 0.4rem;
                border-radius: 0.3rem;
            }
            &__useroptions {
                display: flex;
                flex-direction: column;
                background-color: #4f4f5f;
                width: 85%;
                padding: 0.4rem;
                color: white;
                &.u-opt-select {
                    background-color: #392456;
                }
            }
        &.balance{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            padding: 0.5rem;
            border-radius: 0.3rem;
            &.btn {
                padding: 0.5rem;
                &_deposit {
                    background-color: #5ba968;
                }
            
                &_withdrawal {
                    background-color: #67666B;
                }
            }
        }
        }
        &.viewinformation{
            gap: 0.5rem;
            color: white;
            font-size: 1em;
            display: flex;
            flex-direction: column;
            background: white;
            color: black;
            border-radius: 0 1rem 1rem 0;
            height: 100%;
            &_header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.5rem;
                background-color: #67577e;
                color: white;
            }
        }
        
    }
}
//.loading{
//   
//}
//@include animatedLoad_3linesOrbit();
// circule
// 3arcos
// orbtiando